
{% extends 'AMCE/post.html'%}
    {% block content %}
    <div class="container">
        <div class="text-center mt-5">
                <h1>Evaluar</h1>
                <p class="text-left">Evaluar</p>
                <div class="popup" id="myBtn">Ejemplo
                </div>
            </div>
        </div>

<!--=============  MODAL ===================  class="popup" onclick="myFunction()" -->  
    <!-- Modal a desplegar de ingresar código de clase -->
    <div id="myModal" class="modal">

    <!-- contenido del modal (ingresar código) -->
    <div class="modal-content">
      <div class="container">
      <span class="close">&times;</span><br>
      <label><b class="lead">Evaluar</b></label>
       <br>
            Ejemplos <br>
            Evaluar <br>
            Evaluar <br>
            Evaluar <br>


      </div>
    </div>
</div>
{% endblock%}
