
{% extends 'AMCE/post.html'%}
    {% block content %}
    <div class="container">
        <div class="text-center mt-5">
                <h1>Paso 1</h1>    
                <h3>Definir el problema</h3>
                <p class="text-left">En este paso plantearás preguntas y las evaluarás, de tal manera que te ayudarán a plantear la investigación con respecto al tema asignado.</p> 
                <p>Comienza planteando una pregunta inicial</p>
                 <br>
                 <p>
            Ejemplos <br>
            ¿Qué es un Ciclón Tropical? <br>
            ¿En qué fecha inició la Segunda Guerra Mundial? O <br>
            ¿En dónde nació Miguel de Cervantes Saavedra? <br>
            </p>
            <br>
            <br>
            </div>
        </div>
        <div>
        </div>


{% endblock%}
