{% extends 'AMCE/MG1.html'%}
<main>
{% block content %}
  

    <div >
      <br>
      <br>
      <blockquote class="blockquote text-center">
        <p class="mb-0" style="margin-top: 15px; font-size: 35px;">Clases</p>
      </blockquote>
      
    </div>

    <center>
      <a class="btn btn-outline-dark" id="myBtn">Unirse a una clase</a>
    </center>

    <div class="container mt-5">
      <table class="table">
            <thead>
            <th>Clase</th>
            <th>Tema</th>
            <th></th>

        </thead>
        <tbody>
          {% for codigo in code %}
              <tr>
              <td><a style="size: 30px" >{{codigo.codigo_materia.tema}}</a></td>
              <td><a style="size: 30px" >{{codigo.codigo_materia.nombre}}</a></td>
              <td><a class="btn btn-outline-dark" id="" href="/paso1-1" style="size: 1px">ver clase</a></td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

<!--=============  MODAL ===================  id="myBtn" -->  
    <!-- Modal a desplegar de ingresar código de clase -->
    <div id="myModal" class="modal">

    <!-- contenido del modal (ingresar código) -->
    <div class="modal-content">
      <div class="container">
      <span class="close">&times;</span><br>
      <label><b class="lead">Ingresa el código de la clase</b></label>
        <form method="post" action="#">
        {% csrf_token %}
        <input type="text", name="new" required>
        <button type="submit" name="save" value="save">ingresar</button>
        </form>
      </div>
    </div>
</div>
{% endblock%}
</main>


